<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./common/header") %>
    <h2>Name is <%= student.name %></h2>
    <h2>Age is <%= student.age %></h2>
    <h2>Email is <%= student.email %></h2>
    <h2>City is <%= student.city %></h2>
    <h2>Hobbies are </h2>
        <!-- <ul><% student.hobbies.forEach((hobby)=>{%>
            <li><%=hobby %></li> 
    <%})%> </ul> -->
    <!-- <ul>
        <% for(let i =0;i<student.hobbies.length; i++ ){%>
            <li><%= student.hobbies[i]%> </li>
        <%}%>
    </ul> -->
    <ul>
        <% let i =0; %>
        <% while(i<student.hobbies.length){%>
            <li><%= student.hobbies[i] %></li>
            <%i++; }%>
    </ul>
    
</body>
</html>